.about_advantages--main-ps {
  margin-bottom: 80px;
}

.about_advantages--about-ps {
  margin-top: 35px;
}

.advantages_wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages_item {
  list-style-type: none;
  max-width: 270px;
  text-align: center;
}

.advantages_item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
  color: #26293C;
}

.advantages_item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #505269;
}

.advantages_item-img {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 auto;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}