.catalog {
  margin-top: 120px;
}

.catalog_wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  margin-bottom: 170px;
}

.catalog_categories {
  width: 270px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.catalog_categories-item {
  list-style-type: none;
  margin-bottom: 40px;
}

.catalog_categories-item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;

  color: #000000;
}

.catalog_categories-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;

  color: #000000;
  transition: 0.3s;
}

.catalog_categories-btn {
  list-style-type: none;
}

.catalog_categories-link:hover {
  color: #EF4C23;
  transition: 0.3s;
}

.catalog_list-wrap {
  width: 100%;
}

.catalog_list {
  display: none;
  opacity: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  transition: 0.3s;

  .last-product_item {
    max-height: 400px;
    max-width: 280px;
    margin-bottom: 30px;
  }
}

.catalog_list--active {
  display: flex;
  opacity: 1;
  transition: 0.5s;
}

.catalog_seo-content {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 140px;
}

.catalog_seo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 10px;
  color: #000000;
}

.catalog_seo-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;

  color: #000000;
}

.catalog_categories-link--active {
  color: #EF4C23;
}


@media screen and (max-width: 1200px) {
  .catalog_list {
    justify-content: space-around;
  }
}


@media screen and (max-width: 650px) {
  .catalog {
    margin-top: 50px;
  }

  .catalog_seo-content {
    margin-bottom: 70px;
  }

  .catalog_wrap {
    position: relative;
    margin-bottom: 40px;
  }

  .catalog_categories {
    background-color: #fff;
    padding: 5px;
    position: fixed;
    top: 90px;
    left: -290px;
    z-index: 99;
    box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.15);
    height: 80%;
    width: 280px;
    margin-right: 0;
    overflow-y: scroll;
    transition: 0.3s;
  }

  .catalog_categories--active {
    left: 0;
    transition: 0.3s;
  }

  .catalog_categories-btn {
    list-style-type: none;
    display: block;
    position: fixed;
    top: 190px;
    left: 0px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-image: url('../images/icons/categories-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
  }

  .catalog_categories-btn--active {
    left: 290px;
    transition: 0.3s;
    opacity: 0.6;
  }

  .catalog_categories-item:last-child {
    margin-bottom: 20px;
  }

  .catalog_categories-item:nth-child(2) {
    margin-bottom: 20px;


    .catalog_categories-item-title {
      border-bottom: 1px solid #d6d6d6;
      padding: 10px 0;
    }
  }
}