.clients--main-ps {
  margin-top: 140px;
}

.clients--about-ps {
  margin-top: 140px;
}

.clients_wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.clients_item {
  list-style-type: none;
  width: 15%;
  height: min-content;
  margin-bottom: 80px;

  img {
    display: block;
    margin: 0 auto;
  }
}