.contact-main {
  position: relative;
  min-height: 520px;
  margin-bottom: 120px;
}

.contact-main_content {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 80px;
}

.contact-main_content-title {
  margin-top: 0;
}


.contact-main_map {
  position: absolute;
  background-image: url('../images/content/map.jpg');
  top: 0;
  right: 0;
  left: 50%;
  height: 520px;
}

.contact-main_content-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-main_list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  min-width: 250px;
}


.contact-main_data-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000000;
}

.contact-main_data-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;

  color: #000000;
}

.contact-main_list-img {
  width: 40px;
  height: 40px;
  margin-right: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact-main_list-data {
  max-width: 170px;
}