.delivery {
  margin-bottom: 120px;
}

.delivery_wrap {
  max-width: 1170px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #F2F2F2;
  padding: 0 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  position: relative;
}

.delivery_wrap-bg {
  position: absolute;
  opacity: 0.45;
  width: 500px;
  height: 250px;
  top: 20px;
  left: -265px;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.delivery_wrap-bg--rigth {
  left: auto;
  right: -245px;
  transform: scale(-1, 1);
}

@media screen and (max-width: 600px) {
  .delivery {
    margin-bottom: 40px;
  }
}