.form--main-ps {
  margin-top: 60px;
}

.form--about-ps {
  margin-top: 60px;
}

.form--services-ps {
  margin-top: 120px;
  margin-bottom: 120px;
}

.form_title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}

.form_content {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}

.form_content-img {
  margin-right: 60px;
  margin-top: -122px;
}

.form_area {
  display: flex;
}

.form_area-input {
  margin-right: 30px;


  input {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    padding: 15px 20px;
    color: #505269;
    width: 370px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #505269;
    transition: 0.3s;
  }

  input:hover {
    border: 1px solid #EF4C23;
    transition: 0.3s;
  }
}

.form_area-text {
  textarea {
    width: 370px;
    height: 198px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    padding: 15px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #505269;
    transition: 0.3s;
  }

  textarea:hover {
    border: 1px solid #EF4C23;
    transition: 0.3s;
  }
}

.form_footer {
  display: flex;
  justify-content: space-between;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    color: #000000;
  }
}

.form_btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  background-color: #EF4C23;
  border: 2px solid transparent;
  color: #FFFFFF;
  padding: 12px 30px;
  transition: 0.3s;
}


.form_btn:hover {
  background-color: #fff;
  color: #EF4C23;
  border: 2px solid #EF4C23;
  transition: 0.3s;
  cursor: pointer;
}