.main-product {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.main-product_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.main-product_gallery {
  width: 55%;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.main-product_description {
  width: 40%;
}

.main-product_gallery-main {
  width: 460px;
  height: 490px;
  padding: 45px;
  background: #FFFFFF;
  border: 1px solid #505269;
  box-sizing: border-box;
}

.main-product_gallery-item-wrap {
  width: 100%;
  height: 100%;

  .main-product_gallery-item {
    width: 360px;
    height: 400px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}



.main-product_gallery-nav {
  margin-right: 30px;

  .slick-list {
    padding: 0;
  }

  .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}

.main-product_gallery-nav-item {
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin-bottom: 18px;
  background: #FFFFFF;
  border: 1px solid #505269;
  box-sizing: border-box;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.main-product_gallery-nav-wrap:last-child {
  .main-product_gallery-nav-item {
    margin-bottom: 0px;
  }
}


.main-product_description {
  margin-left: 30px;
}

.main-product_description-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 40px;
  color: #000000;
}

.main-product_description-price {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  margin-bottom: 40px;
  color: #000000;
}

.main-product_description-btn-wrap {
  display: flex;
  margin-bottom: 47px;
}

.main-product_order-btn {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: min-content;
  height: min-content;
  background-color: #EF4C23;
  padding: 12px 50px;
  border: 2px solid transparent;
  color: #FFFFFF;
  margin-right: 30px;
  transition: 0.3s;
}

.main-product_preorder-btn {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  width: max-content;
  height: min-content;
  background-color: #505269;
  padding: 12px 50px;
  border: 2px solid transparent;
  color: #FFFFFF;
  font-weight: bold;
  transition: 0.3s;
}

.main-product_description-list {
  padding: 0;
  margin: 0;
}


.main-product_description-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 40px;
  position: relative;

  div:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    width: 155px;
    color: #000000;
    margin-right: 20px;
  }

  div:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    padding: 5px 20px;
    color: #505269;
    border-left: 1px solid #F2F2F2;
  }
}

.main-product_description-item:first-child::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/shopping-bag.svg');
}

.main-product_description-item:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/np.svg');
}

.main-product_description-item:nth-child(3)::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/min-package.svg');
  margin-bottom: 0;
}

.main-product_tabs {
  margin-bottom: 120px;
}

.main-product_tabs-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.main-product_tabs-list-item {
  list-style-type: none;

  a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 13px 46px;
    background-color: #F2F2F2;
    display: block;
    transition: 0.3s;
  }
}

.main-product_tabs-list-item:hover {
  a {
    background-color: #f2f2f273;
    transition: 0.3s;
  }
}

.main-product_tabs-list-item--active {
  a {
    color: #505269;
    background-color: #fff;
    border-top: 1px dashed #f2f2f2;
    border-left: 1px dashed #f2f2f2;
    transition: 0.3s;
  }
}

.main-product_tabs-description {
  padding: 40px;
  margin: 0;
  border: 1px dashed #f2f2f2;
  background-color: #fff;
}

.main-product_tabs-description-text {
  list-style-type: none;
  display: none;
}

.main-product_tabs-description-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.main-product_tabs-text-wrap {
  display: flex;
  margin-bottom: 20px;


  .main-product_tabs-text-decor {
    border-bottom: 1px solid #F2F2F2;
    flex: 1;
  }

  .main-product_tabs-text-data {
    font-weight: bold;
  }
}

.main-product_tabs-text-wrap:last-child {
  margin-bottom: 0px;
}

.main-product_tabs-description-text--active {
  display: block;
}

.main-product_order-btn:hover {
  background-color: #FFFFFF;
  border: 2px solid #EF4C23;
  color: #EF4C23;
  transition: 0.3s;
}

.main-product_preorder-btn:hover {
  background-color: #FFFFFF;
  border: 2px solid #26293C;
  color: #26293C;
  transition: 0.3s;
}


@media screen and (max-width: 1170px) {
  .main-product_wrap {
    flex-direction: column;
    align-items: center;
  }

  .main-product_gallery {
    width: 650px;
  }

  .main-product_description {
    margin: 0 auto;
  }

  .main-product_description {
    width: 60%;
  }


}


@media screen and (max-width: 768px) {
  .main-product_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}


@media screen and (max-width: 680px) {
  .main-product_gallery-nav {
    display: none;
  }

  .main-product_gallery-main {
    margin: 0 auto;
  }

  .main-product_gallery {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main-product_tabs-list {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .main-product_gallery-main {
    width: 320px;
    height: 420px;
    padding: 10px;
  }

  .main-product_gallery-item-wrap .main-product_gallery-item {
    width: auto;
  }

  .main-product_description-btn-wrap {
    flex-direction: column;
    align-items: center;
  }

  .main-product_order-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .main-product_description-title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .main-product_description-price {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .main-product_tabs-description {
    padding: 10px;
  }

  .main-product_tabs-text-wrap .main-product_tabs-text-decor {
    min-width: 10px;
  }


}