.product-categories {
  padding: 0 15px;
}

.product-categories_wrap {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  border: 1px solid #505269;
  padding: 40px 0;
  background-color: #fff;
}

.product-categories_item {
  list-style-type: none;
  border-right: 1px solid #f2f2f2;
  min-width: 165px;
  padding: 0 17px;
  box-sizing: border-box;
  position: relative;
}

.product-categories_item-decor {
  position: absolute;
  z-index: 1;
  top: 34%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  opacity: 0;
  border-radius: 50%;
  background-color: #EF4C23;
  transition: 0.3s;
}

.product-categories_item:first-child {
  min-width: 150px;
  padding: 0 25px;
  padding-top: 40px;

  svg {
    display: block;
    margin: 0 auto;
  }


  .product-categories_text {
    margin-top: 43px;
  }
}

.product-categories_item:last-child {
  border-right: none;
}

.product-categories_item-link {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  color: #000000;
  transition: 0.3s;

  img {

    position: relative;
    z-index: 99;
  }

}

.product-categories_text {
  margin-top: 15px;
}

.product-categories_item-link {

  svg {
    circle {
      transition: 0.3s;
    }

    path {
      transition: 0.3s;
    }
  }
}


.product-categories_item-link:hover {
  .product-categories_text {
    color: #EF4C23;
    transition: 0.3s;
  }

  svg {
    circle {
      fill: #fff;
      transition: 0.3s;
    }

    path {
      fill: #EF4C23;
      transition: 0.3s;
    }
  }
}




.product-categories_item:hover {
  .product-categories_item-link {
    color: #EF4C23;
    transition: 0.3s;
  }

  .product-categories_item-decor {
    opacity: 1;
    width: 126px;
    height: 126px;
    transition: 0.3s;
  }
}


@media screen and (max-width: 1470px) {
  .product-categories_wrap {
    overflow-x: scroll;
  }
}