.reviews--main-ps {
  margin-top: 120px;
}

.reviews--about-ps {
  padding-top: 40px;
}

.reviews_title {
  margin-top: 0;
  text-align: center;
}

.reviews_content {
  max-width: 1170px;
  margin: 0 auto;
}


.reviews_item-wrap {
  background-color: #F2F2F2;
  padding: 40px;
  max-width: 370px;
  box-sizing: border-box;
}

.reviews_item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 40px;
  color: #000000;
}

.reviews_item-client {
  display: flex;
}

.reviews_client-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #000;
  margin-right: 25px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.reviews_client-data {
  div:first-child {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 5px;
    color: #000000;
  }

  div:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;

    color: #000000;
  }
}