.services-main_wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  position: relative;
  min-height: 500px;
  margin-bottom: 140px;
}

.services-main_content {
  width: 570px;
}

.services-main_img {
  position: absolute;
  top: -50px;
  right: -380px;
}