.services-main_wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  position: relative;
  min-height: 500px;
  margin-bottom: 140px;
}

.services-main_content {
  width: 570px;
}

.services-main_img {
  position: absolute;
  top: -50px;
  right: -380px;
}

@media screen and (max-width: 1150px) {
  .services-main_wrap {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .services-main_content {
    width: 100%;

    .services-main_content-title {
      margin-top: 30px;
    }
  }

  .services-main_img {
    position: static;

    img {
      width: 100%;
    }
  }
}