<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tehno-Dnepr || Главная
        link(rel="stylesheet", href="assets/styles/app.min.css")
    body
        .wrapper
            include ../includes/header.pug  
            main.main
                section.main-section
                    img(src="#", alt="poster").main-section_bg
                    .main-section_content
                        h2.main-section_content-title Купите Б/У технику в рассрочку под 0%
                        p.main-section_content-subtitle Подзаголовок
                        .main-section_content-btn
                            a(href="#").main-btn  Каталог товаров
                section.contact
                    ul.contact_wrap
                        li.contact_item
                            .contact_item-img
                                img(src="#", alt="map")
                            .contact_item-title Адрес
                            .contact_item-text пр. Дмитрия Яворницкого, 111 г. Днепр
                        li.contact_item
                            .contact_item-img
                                img(src="#", alt="phone")
                            .contact_item-title Телефон
                            .contact_item-text +380960241602
                        li.contact_item
                            .contact_item-img
                                img(src="#", alt="mail")
                            .contact_item-title Email
                            .contact_item-text example@mail.com
                        li.contact_item
                            .contact_item-img
                                img(src="#", alt="time")
                            .contact_item-title график работы
                            .contact_item-text Вторник-воскресенье с 10:00 до 17:00
                section.product-categories--main-ps
                    include ../includes/_product-categories.pug  
                section.services
                    h4.services_title Услуги
                    ul.services_wrap
                        li.services_item
                            img(src="#", alt="services")
                            .services_item-title Доставка по Украине
                            .services_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            a(href="#").services_item-btn подробнее
                        li.services_item
                            img(src="#", alt="services")
                            .services_item-title Рассрочка платежа под 0%
                            .services_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            a(href="#").services_item-btn подробнее
                        li.services_item
                            img(src="#", alt="services")
                            .services_item-title Ремонт техники
                            .services_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            a(href="#").services_item-btn подробнее
                        li.services_item
                            img(src="#", alt="services")
                            .services_item-title Скидка на стиральные машины
                            .services_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                            a(href="#").services_item-btn подробнее
                        li.services_item
                            img(src="#", alt="services")
                            .services_item-title Консультация
                            .services_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            a(href="#").services_item-btn подробнее
                section.last-product--main-ps
                    include ../includes/_last-product.pug  
                section.about--main-ps
                    h4.about_title О нас
                    .about_advantages--main-ps
                        include ../includes/_advantages.pug  
                    .about_content
                        p.about_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                        a(href="#").about_link о нас
                section.reviews--main-ps
                    include ../includes/_reviews.pug  
                section.form--main-ps
                    include ../includes/_form.pug  
                section.clients--main-ps
                    include ../includes/_clients.pug
                section.instagram--main-ps
                    include ../includes/_instagram.pug
            include ../includes/footer.pug  