<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Tehno-Dnepr || Имя товара
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .wrapper
      include ../includes/header.pug  
      main.main
        .breadcrumbs
          ul.breadcrumbs_list
            li.breadcrumbs_list-item
              a(href="index.html").breadcrumbs_item-link Главная
            li.breadcrumbs_list-item
              a(href="catalog.html").breadcrumbs_item-link Каталог
            li.breadcrumbs_list-item
              .breadcrumbs_item-text Стиральные машины
            li.breadcrumbs_list-item
              .breadcrumbs_item-text AEG L58547SL
        .main-product
          .main-product_wrap
            .main-product_gallery
              .main-product_gallery-main
                .main-product_gallery-item-wrap
                  .main-product_gallery-item
                    img(src="#", alt="product")
                .main-product_gallery-item-wrap
                  .main-product_gallery-item
                    img(src="#", alt="product")
                .main-product_gallery-item-wrap
                  .main-product_gallery-item
                    img(src="#", alt="product")
              .main-product_gallery-nav
                .main-product_gallery-nav-wrap
                  .main-product_gallery-nav-item
                    img(src="#", alt="product-nav")
                .main-product_gallery-nav-wrap
                  .main-product_gallery-nav-item
                    img(src="#", alt="product-nav")
                .main-product_gallery-nav-wrap
                  .main-product_gallery-nav-item
                    img(src="#", alt="product-nav")
            .main-product_description
              .main-product_description-title Стиральная машина
              .main-product_description-price 5 260 грн
              .main-product_description-btn-wrap
                a(href="#").main-product_order-btn Заказать
                a(href="#").main-product_preorder-btn В рассрочку
              ul.main-product_description-list
                li.main-product_description-item
                  div Самовывоз из магазина
                  div Закажи на сайте - забери сегодня
                li.main-product_description-item
                  div Доставка по Украине
                  div «Нова Пошта» в отделение
                li.main-product_description-item
                  div Курьерская доставка
                  div Зачем тащить самому, когда есть мы
          .main-product_tabs
            ul.main-product_tabs-list
              li.main-product_tabs-list-item
                a(href="#") Описание
              li.main-product_tabs-list-item
                a(href="#") Характеристики
              li.main-product_tabs-list-item
                a(href="#") Состояние
            ul.main-product_tabs-description
              li.main-product_tabs-description-text
                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров  форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
              li.main-product_tabs-description-text
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Тип стиральной машины
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data фронтальная
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Максимальная загрузка
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data 5 кг
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Тип двигателя
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data коллекторный
                .main-product_tabs-text-wrap
                  .main-product_tabs-text-content Максимальная скорость отжима
                  .main-product_tabs-text-decor
                  .main-product_tabs-text-data 1000 об/мин
              li.main-product_tabs-description-text
                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров  форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
      include ../includes/footer.pug  