.advantages
  ul.advantages_wrap
    li.advantages_item
      .advantages_item-img
        img(src="#", alt="advantages")
      .advantages_item-title Премущество 1
      .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати
    li.advantages_item
      .advantages_item-img
        img(src="#", alt="advantages")
      .advantages_item-title Премущество 2
      .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати
    li.advantages_item
      .advantages_item-img
        img(src="#", alt="advantages")
      .advantages_item-title Премущество 3
      .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати
    li.advantages_item
      .advantages_item-img
        img(src="#", alt="advantages")
      .advantages_item-title Премущество 4
      .advantages_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати