.answers
  .answers_wrap
    h4.answers_title Вопрос-ответ
    .answers_content
      .answers_text 
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
        p Если среди этих пунктов не оказалось интересующего Вас, оставьте заявку ниже. Напишите, пожалуйста, в поле “Комментарий”, что Вас волнует или какой момент остался непонятным и мы ответим Вам в ближайшее время.
      .answers_block
        ul.answers_list
          li.answers_item.answers_item-active
            .answers_item-title Часто задаваемый вопрос
            .answers_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов.
          li.answers_item
            .answers_item-title Часто задаваемый вопрос
            .answers_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов.
          li.answers_item
            .answers_item-title Часто задаваемый вопрос
            .answers_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов.
          li.answers_item
            .answers_item-title Часто задаваемый вопрос
            .answers_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            