.clients
  ul.clients_wrap
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Samsung.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Bosch-brand.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Kenwood.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/LG_Electronics.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/electrolux-seeklogo.com.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Panasonic.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/electrolux-seeklogo.com.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Panasonic.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Samsung.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Bosch-brand.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/Kenwood.svg", alt="logo")
    li.clients_item
      .clients_img
        img(src="assets/images/icons/LG_Electronics.svg", alt="logo")