.clients
  ul.clients_wrap
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")
    li.clients_item
      .clients_img
        img(src="#", alt="logo")