.form
  h4.form_title Остались вопросы?
  .form_content
    .form_content-img
      img(src="assets/images/content/thinker.png", alt="man")
    form(action="#", method="post").form_wrap
      .form_area
        .form_area-input
          input(type="text" placeholder="Имя")
          input(type="text" placeholder="Телефон")
          input(type="text" placeholder="Почта")
        .form_area-text
          textarea(name="#" placeholder="Комментарий")
      .form_footer
        p *Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
        button(type="submit").form_btn Отправить