.form
  h4.form_title Остались вопросы?
  .form_content
    .form_comtent-img
      img(src="#", alt="man")
    form(action="#", method="post").form_wrap
      .form_area
        input(type="text")
        input(type="text")
        input(type="text")
        textarea(name="#")
      .form_footer
        p *Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
        button(type="submit").form_btn Отправить