.last-product
  h4.last-product_title Последние поступления
  ul.last-product_wrap
    li.last-product_item
      .last-product_item-img
        img(src="assets/images/content/product-main-4.jpg", alt="product")
      .last-product_item-text Название техники
      .last-product_item-price Цена от 1000 грн
      a(href="#").last-product_btn Подробнее
    li.last-product_item
      .last-product_item-img
        img(src="assets/images/content/product-main-2.jpg", alt="product")
      .last-product_item-text Название техники
      .last-product_item-price Цена от 1000 грн
      a(href="#").last-product_btn Подробнее
    li.last-product_item
      .last-product_item-img
        img(src="assets/images/content/product-main-3.jpg", alt="product")
      .last-product_item-text Название техники
      .last-product_item-price Цена от 1000 грн
      a(href="#").last-product_btn Подробнее
    li.last-product_item
      .last-product_item-img
        img(src="assets/images/content/product-main-4.jpg", alt="product")
      .last-product_item-text Название техники
      .last-product_item-price Цена от 1000 грн
      a(href="#").last-product_btn Подробнее
    li.last-product_item
      .last-product_item-img
        img(src="assets/images/content/product-main-5.jpg", alt="product")
      .last-product_item-text Название техники
      .last-product_item-price Цена от 1000 грн
      a(href="#").last-product_btn Подробнее
  a(href="catalog.html").main-btn  Каталог товаров