.product-categories
  ul.product-categories_wrap
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text все товары
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Стиральные машины
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Сушильные машины
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Посудомоечные машины
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Холодильники
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Морозильные камеры
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Электродуховки
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Микроволновые печи
    li.product-categories_item
      a(href="#").product-categories_item-link
        img(src="#", alt="product")
        .product-categories_text Кофеварки, кофемашины