.reviews_wrap
  h4.reviews_title Отзывы
  .reviews_content
    .reviews_content-item
      .reviews_item-wrap
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        .reviews_item-client
          .reviews_client-img
            img(src="assets/images/content/ava.jpg", alt="ava")
          .reviews_client-data
            div Иван Иванов
            div должность
    .reviews_content-item
      .reviews_item-wrap
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        .reviews_item-client
          .reviews_client-img
            img(src="assets/images/content/ava.jpg", alt="ava")
          .reviews_client-data
            div Иван Иванов
            div должность
    .reviews_content-item
      .reviews_item-wrap
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        .reviews_item-client
          .reviews_client-img
            img(src="assets/images/content/ava.jpg", alt="ava")
          .reviews_client-data
            div Иван Иванов
            div должность
    .reviews_content-item
      .reviews_item-wrap
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        .reviews_item-client
          .reviews_client-img
            img(src="assets/images/content/ava.jpg", alt="ava")
          .reviews_client-data
            div Иван Иванов
            div должность
    .reviews_content-item
      .reviews_item-wrap
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        .reviews_item-client
          .reviews_client-img
            img(src="assets/images/content/ava.jpg", alt="ava")
          .reviews_client-data
            div Иван Иванов
            div должность
    .reviews_content-item
      .reviews_item-wrap
        .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        .reviews_item-client
          .reviews_client-img
            img(src="assets/images/content/ava.jpg", alt="ava")
          .reviews_client-data
            div Иван Иванов
            div должность