footer.footer
  .footer_wrap
    .footer_item
      .logo
        img(src="#", alt="logo")
      .footer-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
      ul.footer_social
        li.footer_social-item
          a(href="#").footer_social-link
            img(src="#", alt="social")
        li.footer_social-item
          a(href="#").footer_social-link
            img(src="#", alt="social")
        li.footer_social-item
          a(href="#").footer_social-link
            img(src="#", alt="social")
    .footer_item
      .footer_item-title Услуги
      ul.footer_item-list
        li.footer_item-link
          a(href="#") Доставка по Украине
        li.footer_item-link
          a(href="#") Рассрочка платежа под 0%
        li.footer_item-link
          a(href="#") Ремонт техники
        li.footer_item-link
          a(href="#") Консультация
    .footer_item
      .footer_item-title Каталог
      ul.footer_item-list
        li.footer_item-link
          a(href="#") Стиральные машины
        li.footer_item-link
          a(href="#") Сушильные машины
        li.footer_item-link
          a(href="#") Посудомоечные машины
        li.footer_item-link
          a(href="#") Холодильники
        li.footer_item-link
          a(href="#") Морозильные камеры
        li.footer_item-link
          a(href="#") Электродуховки
        li.footer_item-link
          a(href="#") Микроволновые печи
        li.footer_item-link
          a(href="#") Кофеварки, кофемашины
    .footer_item
      .footer_item-title Контакты
      ul.footer_item-list
        li.footer_item-link
          .footer_item-link-title Адрес
          a(href="#") пр. Дмитрия Яворницкого, 111
        li.footer_item-link
          .footer_item-link-title график работы
          a(href="#") Вторник-воскресенье с 10:00 до 17:00
        li.footer_item-link
          .footer_item-link-title Email
          a(href="#") example@mail.com
        li.footer_item-link
          .footer_item-link-title Телефон
          a(href="#") +380960241602
  .footer_copyright
    a(href="#") Develop by AWS. All right reserved