header.header
  .header_wrap
    .logo
      img(src="#", alt="logo")
    .header_contact
      img(src="#", alt="phone").header_contact-img
      a(href="tel:+380960241602").header_contact-link +380960241602
    nav.nav
      ul.nav_wrap
        li.nav_item
          a(href="#").nav_item-link О нас
        li.nav_item
          a(href="#").nav_item-link Услуги
        li.nav_item
          a(href="#").nav_item-link Каталог
        li.nav_item
          a(href="#").nav_item-link Контакты