.header {
  background-color: rgba($color: #fff, $alpha: .9);
  box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header_wrap {
  max-width: 1470px;
  padding: 29px 30px 26px 30px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header_contact-link {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
  color: #000000;
  margin-left: 15px;
  transition: 0.3s;
}

.header_contact-img {
  opacity: 1;
  transition: 0.3s;
}

.header_contact:hover {
  .header_contact-link {
    color: #EF4C23;
    transition: 0.3s;
  }

  .header_contact-img {
    opacity: 0.5;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1024px) {

  .header_contact {
    margin-right: 10px;
  }
}




@media screen and (max-width: 650px) {
  .header_wrap {
    padding: 15px 10px 10px 10px;
  }
}