@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/fontawesome-webfont.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../fonts/Roboto-BoldItalic.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto-LightItalic.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../fonts/Roboto-MediumItalic.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'Sansus-Webissimo-Regular';
    src: url('../fonts/Sansus-Webissimo-Regular.woff');
    font-weight: normal;
    font-style: normal;    
}


